@model DashboardViewModel

<div class="d-flex flex-column flex-column-fluid  container-fluid ">

    <!--begin::Toolbar-->
    <div class="toolbar mb-5 mb-lg-7" id="kt_toolbar">


        <!--begin::Page title-->
        <div class="page-title d-flex flex-column me-3">
            <!--begin::Title-->
            <h1 class="d-flex text-gray-900 fw-bold my-1 fs-3">
                Bookify Dashboard
            </h1>
            <!--end::Title-->

        </div>
        <!--end::Page title-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="content flex-column-fluid" id="kt_content">
        <!--begin::Row-->
        <div class="row g-5 gx-xl-10 mb-5 mb-xl-10">
            <!--begin::Col-->
            <div class="col-12">
                <!--begin::Engage widget 6-->
                <div class="card flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-end h-xl-100" style="background-color:#020202;background-image:url('/assets/images/books-bg.webp');background-size:cover;">
                    <!--begin::Body-->
                    <div class="card-body d-flex justify-content-between flex-column ps-xl-18">
                        <!--begin::Heading-->
                        <div class="mb-20 p-5 glass w-fit-content">
                            <!--begin::Title-->
                            <h3 class="fw-bold text-white fs-4x mb-5 ms-n1">Bookify</h3>
                            <!--end::Title-->
                            <!--begin::Description-->
                            <span class="fw-bold text-white fs-4 mb-8 d-block lh-0">with Kristin Watson</span>
                            <!--end::Description-->
                            <!--begin::Items-->
                            <div class="d-flex align-items-center">
                                <!--begin::Item-->
                                <div class="d-flex align-items-center me-6">
                                    <!--begin::Icon-->
                                    <i class="las la-book text-white fs-2 me-3"></i>
                                    <!--end::Icon-->
                                    <!--begin::Info-->
                                    <span class="fw-semibold text-white fs-6">@Model.NumberOfBooks Books</span>
                                    <!--end::Info-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="d-flex align-items-center">
                                    <!--begin::Icon-->
                                    <i class="las la-user-friends text-white fs-2 me-3"></i>
                                    <!--end::Icon-->
                                    <!--begin::Info-->
                                    <span class="fw-semibold text-white fs-6">@Model.NumberOfSubscriber members</span>
                                    <!--end::Info-->
                                </div>
                                <!--end::Item-->
                            </div>
                            <!--end::Items-->
                        </div>
                        <!--end::Heading-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Engage widget 6-->

            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
        <!--begin::Row-->
        <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
            <!--begin::Col-->
            <div class="col-xl-8">
                <!--begin::Player widget 1-->
                <div class="card card-flush h-xl-100">
                    <!--begin::Header-->
                    <div class="card-header pt-7">
                        <!--begin::Title-->
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold text-gray-900">Recently Books</span>
                        </h3>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-7">
                        <!--begin::Row-->
                        <div class="row g-5 g-xl-9 mb-5 mb-xl-9">
                            @foreach (var book in Model.LatestBooks)
                            {
                                <!--begin::Col-->
                                <div class="col-sm-3 mb-3 mb-sm-0">
                                    <!--begin::card-->
                                    <div class="m-0">
                                        <!--begin::User pic-->
                                        <div class="card-rounded position-relative mb-5">
                                            <!--begin::Img-->
                                            <div class="bgi-position-center bgi-no-repeat bgi-size-cover h-200px card-rounded" style="background-image:url('@book.ImageThumbnailUrl')">
                                            </div>
                                            <!--end::Img-->
                                        </div>
                                        <!--end::User pic-->
                                        <!--begin::Info-->
                                        <div class="m-0">
                                            <!--begin::Title-->
                                            <h3 class="text-gray-800 text-hover-primary fs-3 fw-bold d-block mb-2">@book.Title</h3>
                                            <!--end::Title-->

                                            <span class="fw-bold fs-6 text-gray-500 d-block lh-1">@book.AuthorName</span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::card-->
                                </div>
                                <!--end::Col-->
                            }
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Player widget 1-->

            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-4">

                <!--begin::List widget 24-->
                <div class="card h-xl-100" id="kt_list_widget_24">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold text-gray-800">Top Books</span>
                        </h3>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-6">
                        @foreach (var book in Model.TopBooks)
                        {
                            <!--begin::Item-->
                            <div class="d-flex flex-stack">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-circle symbol-60px me-4">
                                    <img src="@book.ImageThumbnailUrl" class="" alt="@book.Title">
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Section-->
                                <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                    <!--begin:Author-->
                                    <div class="flex-grow-1 me-2">
                                        <h5 class="text-gray-800 text-hover-primary fs-5 fw-bolder">@book.Title</h5>
                                        <span class="text-gray-500 fw-semibold d-block fs-6">@book.AuthorName</span>
                                    </div>
                                    <!--end:Author-->
                                </div>
                                <!--end::Section-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Separator-->
                            <div class="separator separator-dashed my-5"></div>
                            <!--end::Separator-->
                        }
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::List widget 24-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
        
        <!--begin::Row-->
        <div class="row g-5 g-xl-10">
            <!--begin::Col-->
            <div class="col-xl-8">

                <!--begin::Table widget 13-->
                <div class="card card-flush h-xl-100">
                    <!--begin::Header-->
                    <div class="card-header pt-7">
                        <!--begin::Title-->
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold text-gray-800">Rentals</span>

                            <span class="text-gray-500 mt-1 fw-semibold fs-6">Per day</span>
                        </h3>
                        <!--end::Title-->
                        <div class="card-toolbar">
                            <!--begin::Daterangepicker(defined in src/js/layout/app.js)-->
                            <input class="form-control form-control-solid" placeholder="Pick date rage" id="DatePicker" />
                            <!--end::Daterangepicker-->
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-3 pb-4">
                        <div id="RentalsChart" style="height: 350px;"></div>
                    </div>
                    <!--end: Card Body-->
                </div>
                <!--end::Table widget 13-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-4">

                <!--begin::Chart Widget 34-->
                <div class="card card-flush h-xl-100">
                    <!--begin::Header-->
                    <div class="card-header pt-5 mb-6">
                        <!--begin::Title-->
                        <div class="card-title align-items-start flex-column">
                            <!--begin::Value-->
                            <h3 class="fw-bold text-gray-800 me-3">Subscribers</h3>
                            <!--end::Value-->
                            <!--begin::Description-->
                            <span class="fs-6 fw-semibold text-gray-500">Per city</span>
                            <!--end::Description-->
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body py-0 px-0">
                        <canvas id="SubscriberChart" class="mh-400px"></canvas>
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Chart Widget 34-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Post-->
</div>

@section Scripts{
	<script src="~/js/dashboard.js"></script>
}